.App {
  flex: 1;
  background-color: #fafafa;
}

.Title {
  display: block;
  font-size: 30px;
  text-align: center;
  padding-top: 40px;
}

.Subtitle {
  display: block;
  font-size: 20px;
  text-align: center;
  padding-top: 40px;
}

.MainContainer {
  margin: 50px 100px 100px;
  background-color: white;
  padding: 30px;
}

.Section {
  margin-bottom: 15px;
}

.SectionTitle {
  display: block;
  font-size: 20px;
}

.SectionText {
  display: block;
  font-size: 15px;
}

.SectionTextSmall {
  display: block;
  font-size: 12px;
}

